<!DOCTYPE html>
<html>
<htad>
    <title>Login</title>
    {% load staticfiles %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
</htad>
<body>
    <form action="" method="post">
        <label  for="username">用戶名稱</label>{% csrf_token %}
        <input type="text" name="username" id="username" value="{{ username }}"><br/>
        <label for="password">用戶密碼</label>
        <input type="password" name="password" id="password" value="" ><br/>
        <input type="submit" value="登入" />
    </form>


    <img src="{% static "img/a.JPG" %}" />
</body>
</html>